:root
{
    font-size: 16px;
}
*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
@font-face 
{
  font-family: Everson Mono;
  src: url("fonts/EversonMono.woff");
}
@font-face 
{
  font-family: Shlomo Stam;
  src: url("fonts/Shlomo-Stam.woff");
}
@font-face 
{
  font-family: KAT;
  src: url("fonts/KeterAramTsova.woff");
}
@font-face 
{
  font-family: EzraSIL;
  src: url("fonts/EzraSIL.woff");
}
@font-face 
{
  font-family: Taamei David;
  src: url("fonts/TaameyDavidCLM-Medium.woff");
}
@font-face 
{
  font-family: Frank Ruehl;
  src: url("fonts/FrankRuehlCLM-Medium.woff");
}
@font-face 
{
  font-family: Alef;
  src: url("fonts/Alef-Regular.woff");
}
@font-face 
{
  font-family: Ptil;
  src: url("fonts/PtilWide-Regular.woff");
}
@font-face 
{
  font-family: Secular;
  src: url("fonts/SecularOne-Regular.woff");
}
body
{
    font-size: 16px;
    font-family: David, 'Times New Roman', sans-serif;
    background-color: #eeeeff;
}
@media only screen and (min-width: 750px) 
{  
    #mobile-title, #mobile-fonts
    {
      display: none;
    }
    #text1
    {
        padding: 10px;
        color: #0000bb;
        border: solid 4px cornflowerblue;
        position: fixed;
        right: 29vw;
        top: 1vh;
        left: 1vw;
        height: 38vh;
        width: 69vw;
        resize: none;
        outline: none;
        background: white;
        z-index: 5000;
        
        font-weight: normal;
        font-family: David, 'Segoe UI', serif;
        font-size: 30px;

    }
    .keyboards button
    {
        width: fit-content;
        min-width: 2rem;
        height: 2rem;
        padding: 0.25rem;
        margin: 0.25em;

        font-family: David, 'Times New Roman', serif;
        border: solid 0.1rem #bbbbff; 
        font-size: 20px;
        text-align: center;
    }
    .keyboards
    {
        position: relative;
        top: 42vh;
        bottom: 1vh;
        left: 1vw;
        right: 29vw;
        width: 69vw;;
        max-width: 69vw;
        display: flex;
        flex-direction: column;
    }
    .keyboards div
    {
        /* border:solid 2px lime; */
    }
    #sidebar
    {
        background-color: #eeffee;
        position: fixed;
        right: 1vw;
        top: 1vh;
        width: 27vw;
        height: 98vh;        
    }
    #fonts
    {
      position: relative;
      top: 42vh;
      right: 29vw;
      width: 69vw;
    }
    #fonts_box div
    {
      width: 69vw;
      font-size: 16px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      border: solid 0.5px white;
    }
    #fonts_box div div
    {
      display: flex;
      flex-direction: column;
      width: fit-content;
    }
    button.niqqud
    {
      background-color: lightgreen;
      font-weight: bold;   

    }
    button.trope, button.emt_trope
    {
      background-color: lightblue;
      font-weight: 900;
      font-size: 25px;
      font-weight: bold;   
      font-family: David, serif;
    }
    button.emt_trope
    {
      background-color: lightskyblue;
    }
    button.sequence2
    {
      background-color: palegoldenrod;
    }
    button.sequence3
    {
      background-color: palegreen;
    }
    button.sequence4
    {
      background-color: paleturquoise;
    }
    button.sequence_long
    {
      background-color: palevioletred;
    }
    button.example1
    {
      background-color: pink;
      font-size: 1rem;
    }
    button.example2
    {
      background-color: lightcoral;
      font-size: 1rem;
    }
    button.example3
    {
      background-color: lightsalmon;
      font-size: 1rem;
    }
    #twitter
    {
        display: block;
        width: fit-content;
        margin: 0.25em;
        padding: 0.25em;
        background-color: blue;
        color: white;
        border-radius: 0.25em;
    }
    button.alphabet-button 
    {
      background-color: darkslategray;
      color: aliceblue;
    }
    #twitter:hover
    {
        background-color: paleturquoise;
    }
    #autoTrope_box textarea
    {
      width: 50vw;
      height: 10vh;
    }
    #fonts
    {
      display: block;
    }
}
@media only screen and (max-width: 750px)
{
  #fonts
  {
    display: none;
  }
  #mobile-fonts
  {
    display: flex;
    flex-direction: column;
  }
  #mobile-title
  {
    display: block;
    text-align: center;
    font-weight: bold;
  }

  body
  {
    background-color: lightblue;
  }
  
  #text1
    {
        padding: 10px;
        border: solid 2px cornflowerblue;
        position: fixed;
        right: 5px;
        margin-left: 10px;
        top: 40px;
        height: 38vh;
        width: calc(100vw - 20px);
        resize: none;
        outline: none;
        background: white;
        z-index: 5000;
        
        font-weight: bold;
        font-family: serif;
        font-size: 20px;

    }
    .keyboards
    {
      position: relative;
      top: 40vh;
      align-items: center;
    }
    .keyboards button
    {
      width: fit-content;
      min-width: 20px;
      padding: 1px;
      margin: 1px;
      color: black;
      background-color: aliceblue;
      border: solid 2px black;
      font-weight: bold;
      font-family: serif;
      font-size: 20px;
      
    }
    .keyboards h2
    {
      text-align: center;
    }
    .keyboards div
    {
      margin-left: 5px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center ;    
    }
    #autoTrope_box textarea
    {
      width: 90vw;
      height: 10vh;
    }
    #sidebar
    {
      display: none;
    }

}
#samaritan_box button
{
  font-family: "Everson Mono", "hebrew samaritan", "serif";
}
#changelog, #samaritan_box, #sequence_box, #arabic_box, #example_box, #niqqud_box, #autoTrope_box, #alphabet_box, #fonts_box, #mobile-fonts_box
{
  display: none;
}
