@font-face {
    font-family: 'Everson Mono';
    src: url('EversonMono.woff2') format('woff2'),
        url('EversonMono.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

